<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/dallinger.css" type="text/css">
    <script src="/static/scripts/jquery-min.js" type="text/javascript"> </script>
    <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
    <script src="/static/scripts/dallinger.js" type="text/javascript"> </script>
    <script src="/static/scripts/questionnaire.js" type="text/javascript"> </script>
</head>
<body>

  <h1>Finished.</h1>
  <hr>
  <p>Thanks for contributing to our research. You will be eligible for full payment once you answer the following questions:</p>
  <form>
    <div class="row question">
        <div class="col-md-8">
            How cooperative did you feel your partner was during the experiment?
        </div>
        <div class="col-md-4">
            <select id="cooperative_partner" name="cooperative_partner">
                <option value="10">10 - Highly cooperative</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5" SELECTED>5 - Neither cooperative nor uncooperative</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1 - Highly uncooperative</option>
            </select>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-8">
            How cooperative did you feel you were during the experiment?
        </div>
        <div class="col-md-4">
            <select id="cooperative_self" name="cooperative_self">
                <option value="10">10 - Highly cooperative</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5" SELECTED>5 - Neither cooperative nor uncooperative</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1 - Highly uncooperative</option>
            </select>
        </div>
    </div>
    <div class="col-md-8">
            How much do you feel you trusted your partner's opinion during the experiment?
    </div>
    <div class="col-md-4">
            <select id="trust_partner" name="trust_partner">
                <option value="10">10 - Strongly believed</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5" SELECTED>5 - Neither believed nor doubted</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1 - Strongly doubted</option>
            </select>
        </div>
    </div>
    <div class="row question">
        <div class="col-md-8">
            How much do you feel your partner trusted your opinion during the experiment?
        </div>
        <div class="col-md-4">
            <select id="trust_self" name="trust_self">
                <option value="10">10 - Strongly believed</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5" SELECTED>5 - Neither believed nor doubted</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1 - Strongly doubted</option>
            </select>
        </div>
    </div>

    <div class="row question">
        <div class="col-md-8">
            How engaged were you during the experiment overall?
        </div>
        <div class="col-md-4">
            <select id="engagement" name="engagement">
                <option value="10">10 - Highly engaged</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5" SELECTED>5 - Neither engaged nor disengaged</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1 - Highly disengaged</option>
            </select>
        </div>
    </div>

    <div class="row question">
        <div class="col-md-8">
            How difficult did you find the experiment overall?
        </div>
        <div class="col-md-4">
            <select id="difficulty" name="difficulty">
                <option value="10">10 - Very difficult</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5" SELECTED>5 - Neither difficult nor easy</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1 - Very easy</option>
            </select>
        </div>
    </div>
  <hr>
  <div>
      <button id="submit-questionnaire" type="button" class="button">
          Continue
      </button>
  </div>
</body>
