<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/dallinger.css" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
    <script src="/static/scripts/dallinger.js" type="text/javascript"> </script>
</head>

<body>
    <div class="main_div">

        <script>

            // Create the participant.
            dallinger.createParticipant();

            // If the participant ID has been defined, allow us to move on.
            proceedWithParticipantID = function() {
              allow_exit();
              go_to_page('instructions/instruct-2');
            };

        </script>

    	<h1>Instructions</h1>

    	<hr>

        <p>In this game, you'll be recreating lines.</p>

        <p><img id="blue-bar" src="/static/images/blue_response_bar.png" width="200px" alt="Your guess will always be shown in blue." /></p>

        <p>Your goal is to remember and correctly estimate the length of a line.</p>

    	<hr>

        <button type="button" class="btn btn-primary btn-lg btn-success" id="#next" onClick="proceedWithParticipantID();" style="float: right;">Next
        </button>
    </div>
</body>
